*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
}

body{
    width: 100%;
    height: 900px;
    background: linear-gradient(120.63deg, #510707 29.73%, rgba(0, 0, 0, 0.85) 105.91%);
    position: relative;
    overflow-x: hidden;
    /* display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
     */
}


p{
    color: rgba(255,255,255,1);
    font-weight: 700;
    font-size: 56px;
    height: 64px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.top-text{
    width: 670px;
    height: 192px;
    margin-left: 215px;
    margin-top: 200px;
    animation:top-text 1s ease-in 1s infinite ;
}
@keyframes top-text{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}
h1{
    font-size: 24.3px;
    font-weight: 200;
    color: rgba(255, 255, 255, 1);
    font-family:Arial, Helvetica, sans-serif ;
    /* animation: animate 2s linear infinite ; */
}



.lines{

    position: relative;
    margin-top: -550px;
    right: 1380px;
    
    width: 155px;
    position: absolute; 
} 

.first-img{
    position: relative;
    margin-top: -500px;
    margin-left: 800px;
    height: 350px;
    animation: first-img 1s linear infinite;

}
@keyframes first-img{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
    /* from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0px);
    } */
}

.comp-img{
    position: relative;
    margin-top: -265px;
    margin-left: 1050px;
    height: 370px;
    animation: comp-img 1s linear infinite;

}
@keyframes comp-img{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.btn{
   
    border:  8px solid;
    background-color: transparent;
    border-image-source: linear-gradient(94.03deg, #AE2B2B 37.09%, rgba(249, 219, 219, 0.66) 71.13%);
    color: white;
    border-image-slice: 1;
    border-radius: 10px;
    font-size: 19px;
    padding: 10px 30px 10px 30px;
    gap: 10px;
}

.btn:hover{
    background-color: pink;
    color: black;
}

.proff-service{
    position: relative;
    margin-top: 200px;
    margin-left: 127px;
    animation: proff-service 3s ease-in 1s infinite ;
}
@keyframes proff-service{
    0%{
        transform: scale(0.5);

    }
    100%{
       transform: scale(1); 
    }
}
h2{
    font-size: 43px ;
    font-weight: 30px;
    margin-left: 457px;
    margin-top: 110px;
    color: white;
    animation: h2 3s ease-in infinite;
}
@keyframes h2 {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
  }

.abt-us{
    position: relative;
    margin-left: 190px;
    margin-top: 75px;
    animation: abt-us 3s linear infinite;
}
@keyframes abt-us {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.abtus-text{
    position: relative;
    margin-left: 70px;
    margin-bottom: 60px;
    animation: abtus-text 3s ease-in infinite ;
}
@keyframes abtus-text{
    0%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0px);
    }
}
.button-2{
    
width: Hug (163px);
height: Hug (56px);
margin-top: -650px;
margin-left: 865px;
padding: 10px 30px 10px 30px;
gap: 10px;
border-radius: 5px ;  
border: 8px;
font-size: 20px;
background-color: transparent;
color: white;
border: 8px solid;
border-image-source: linear-gradient(94.03deg, #AE2B2B 37.09%, rgba(249, 219, 219, 0.66) 71.13%);
border-image-slice: 1;
animation: button-2 3s ease-in  infinite;
}
@keyframes button-2{
   0%{
    transform: translatey(100px);
   }
   100%{
    transform: translatey(0px);
   }
}
.button-2:hover{
    background-color: pink;
    color: black;
    
}

.explore-box{
    width: 1350px;
    height: 868px;
    margin-bottom: 700px;
    margin-top: 140px;
    margin-left:  90px;
    /* margin-right: 900px;  */
   display: flex;
   justify-content: center;
   align-items: top;
   background: #B22C2C33;
   border-radius: 100px;
}

.figma{
   position: relative;
    /* margin: 1px 1px 1px 1px; */
    height: 140px;
    width:140px;
    margin-top: 200px;
    margin-inline-start: -590px;
    animation: figma 2s ease-in infinite ;
}
@keyframes figma{
    0%{
        transform: translatey(-200px);
    }
    100%{
        transform: translatey(0px);
    }
}
.adobe{
    position: relative;
    height: 140px;
    width: 140px;
    margin-inline-start: 33px;
    margin-bottom: -38px;
    animation: adobe 1s ease-in infinite ;
}
@keyframes adobe{
    0%{
        transform: translatey(-200px);
    }
    100%{
        transform: translatey(0px);
    }
}
.mysql{
    position: relative;
    height: 140px;
    width: 140px;
    margin-inline-start: -315.2px;
    margin-bottom: -380px;
    animation: mysql 2s ease-in infinite ;
}
@keyframes mysql{
    0%{
        transform: translatey(200px);
    }
    100%{
        transform: translatey(0px);
    }
}
.mongodb{
    position: relative;
    height: 140px;
    width: 140px;
    margin-inline-start: 30px;
    margin-bottom: -310px;
    animation: mongodb 1s ease-in infinite ;
}
@keyframes mongodb{
    0%{
        transform: translatey(200px);
    }
    100%{
        transform: translatey(0px);
    }
}
.laravel{
    position: relative;
    height: 140px;
    width: 140px;
    margin-inline-start: 92px;
    margin-bottom: -91px;
    animation: laravel 1s ease-in  infinite ;
}
@keyframes laravel{
    0%{
        transform: scale(0.5);

    }
    100%{
       transform: scale(); 
    }
}
.amazon{
    position: relative;
    height: 140px;
    width: 140px;
    margin-bottom: -275px;
    margin-inline-start: -145px ;
    animation: amazon 1s ease-in  infinite ;
}
@keyframes amazon{
    0%{
        transform: scale(0.5);

    }
    100%{
       transform: scale(); 
    }
}
.nodejs{
    position: relative;
    height: 140px;
    width: 140px;
    margin-bottom: -90.2px;
    margin-inline-start: 37px;
    animation: nodejs 1s ease-in  infinite ;
}
@keyframes nodejs{
    0%{
        transform: scale(0.5);

    }
    100%{
       transform: scale(); 
    }
}
.googlecloud{
    position: relative;
    height: 140px;
    width: 140px;
    margin-bottom: -270px;
    margin-inline-start: -145.5px;
    animation: googlecloud 1s ease-in  infinite ;
}
@keyframes googlecloud{
    0%{
        transform: scale(0.5);

    }
    100%{
       transform: scale(); 
    }
}
.flutter{
    position: relative;
    height: 140px;
    width: 140px;
    margin-inline-start: 94px;
    margin-bottom: -40px;
    animation: flutter 1s ease-in infinite ;

}
@keyframes flutter{
    0%{
        transform: translatey(-200px);
    }
    100%{
        transform: translatey(0px);
    }
}
.postman{
    position: relative;
    height: 140px;
    width: 140px;
    margin-inline-start: -140px ;
    margin-bottom: -311px;
    animation: postman 1s ease-in infinite ;
}
@keyframes postman{
    0%{
        transform: translatey(200px);
    }
    100%{
        transform: translatey(0px);
    }
}
.reactjs{
    position: relative;
    height: 140px;
    width: 140px;
    margin-inline-start: 30px ;
    margin-bottom: -2px;
    animation: react 2s ease-in infinite ;
}
@keyframes react{
    0%{
        transform: translatey(-200px);
    }
    100%{
        transform: translatey(0px);
    }
}
.android{
    position: relative;
    height: 140px;
    width: 140px;
    margin-bottom: -370px;
    margin-inline-start: -140px;
    animation: android 2s ease-in infinite ;
}
@keyframes android{
    0%{
        transform: translatey(200px);
    }
    100%{
        transform: translatey(0px);
    }
}
.exp{
    color: white;
    position: relative;
    border: 8px solid;
    padding: 10px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid;
  font-size: 25px;
border-image-source: linear-gradient(94.03deg, #AE2B2B 37.09%, rgba(249, 219, 219, 0.66) 71.13%);
border-image-slice: 1;
margin-top: 400px;
margin-inline-start: -85px;
}

.exp:hover{
    background-color: pink;
    color: black;
}
 
.portfolio{
    position: relative;
    color: white;
   display: flex;
   justify-content:baseline;
   margin-inline-start: 600px;
   margin-top: -550px;
   animation: portfolio 2s  ease-in  infinite ;
}
@keyframes portfolio{
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0px);
    }
}
.young-pic{
    position: relative;
    height:600px;
    margin-inline-start: 50px;
    margin-top: 100px;
    animation: young-pic 2s ease-in  infinite ;
}
@keyframes young-pic{
    0%{
       transform: scale(0.5); 
    }
    100%{
        transform: scale(1);
    }
}

.connector{
    position: relative;
    height: 160px;
    margin-bottom: 200px;
    animation:connector 2s ease-in  infinite ;

}
@keyframes connector{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.oneapp{
    position: relative;
    height:420px;
   margin-bottom: 45px;
   margin-inline-start: 250px;
   animation: oneapp 0.5s ease-in  infinite ;
}

@keyframes oneapp{
    0%{
       transform: scale(0.5); 
    }
    100%{
        transform: scale(1);
    }
}
.endofseason{
    position: relative;
    height: 530px;
    margin-inline-start: 1150px;
    margin-top: -1500px;
    animation: endofseason 1s ease-in  infinite ;

}
@keyframes endofseason{
    0%{
       transform: scale(0.5); 
    }
    100%{
        transform: scale(1);
    }
}
.cartrade{
    position: relative;
    height: 600px;
    margin-inline-start: 1000px;
    margin-top: -820px;
    animation: cartrade 2s ease-in  infinite ;

}
@keyframes cartrade{
    0%{
       transform: scale(0.5); 
    }
    100%{
        transform: scale(1);
    }
}
.viewportfolio{
    position: relative;
    width: Hug (217px);
   height: Hug (56px);
margin-top: 50px;
margin-left: 692px;
padding: 10px 40px 10px 40px;
gap: 10px;
border-radius: 10px;   
border: 8px   ;
font-size: 20px;
background-color: transparent;
color: white;
border: 8px solid;

border-image-source: linear-gradient(94.03deg, #AE2B2B 37.09%, rgba(249, 219, 219, 0.66) 71.13%);
border-image-slice: 1;
}

.viewportfolio:hover{
    background-color: pink;
    color: black;
}

.global{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 160px;
    font-weight: 100px;
    font-size: 45px;
    animation: global 1s ease-in  1 ;

}
@keyframes global{
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0px);
    }
}
.globalnetwork{
   position: relative;
   margin-inline-start: 200px ;
   font-size: 45px;
   margin-top:70px;
   font-weight: 400;
   animation: globalnetwork 1s ease-in  1 ;
}
@keyframes globalnetwork{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}

.longtext{
    color: white;
    position: relative;
    margin-inline-start: 200px ;
    font-family:sans-serif;
    font-size: 25px;
    font-weight: 10px;
    animation: longtext 1.5s ease-in  1 ;
}
@keyframes longtext{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}
.map{
    height: 300px;
    position: relative;
    margin-inline-start: 780px;
    /* margin-bottom: 200px; */
    bottom: 250px;
    animation: map 2s linear 1;
}
@keyframes map {
    from {
      transform: translateX(300px);
    }
    100% {
      transform: translateX(0px);
    }
  }
.learn{
    position: relative;
    width: 170px;
   height:  56px;
margin-left: 200px;
padding : 10px, 30px, 10px, 30px;

border-radius: 5px;   
 font: 1.2em sans-serif;
color: white; 
background-color: transparent;
border: 8px solid;

border-image-source: linear-gradient(94.03deg, #AE2B2B 37.09%, rgba(249, 219, 219, 0.66) 71.13%);
border-image-slice: 1;
bottom: 270px;

}

.learn:hover{
    background-color: pink;
    color: black;
}


.brands{
    position: relative;
    margin-inline-start: 550px;
    bottom: 200px;
    font-size: 50px;
    animation: brands 3s ease-in  infinite ;
}
@keyframes brands{
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0px);
    }
}
.longtext-two{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-inline-end: 433px;
   bottom: 310px;
    
}

.second-part{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-inline-end: 433px;
    bottom: 400px;
animation: second-part 2s ease-in  infinite ;
}
@keyframes second-part{
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0px);
    }
}
.brands-pic{
    position: relative;
    height:480px;
    width: 1200px;
    margin-inline-start: 180px;
    bottom: 300px;
    animation: brands-pic 2s ease-in  infinite ;
}
@keyframes brands-pic{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(100%);
    }
}
.ourgal{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   bottom: 230px;
}

/* .slider{
     width:100vw;
    height:110vh ;
    background: url(./picmain.png);
    margin:100px auto;
    animation: slide 20s infinite;

}  */
 /* .ourgall{
    position: relative;
    height: 450px;
    margin-inline-start: 65px;
    margin-top: 150px;

 } */

 /* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
/* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(25,12,41);
} */
.slider {
    position: relative;
    width: 60%;
    overflow: hidden;
    margin-inline-start: 310px;
    bottom: 170px;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: #fff;}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -70%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
/* #img4:checked ~ .m4 {
    margin-left: -300%;
} */

.clients{
    position: relative;
    display: flex;
    justify-content: center;
   bottom: 100px;
    font-size: 50px;
}

.pinkbox{
    position: relative;
    height: 550px;
    margin-inline-start: 230px;
    margin-top: 105px;
    animation: pinkbox 1s ease-in infinite ;
}
@keyframes pinkbox{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}
.pinkwhitebox{
    position: relative;
    height: 380px;
    margin-inline-start: -328px;
    bottom: 230px;
    animation: pinkwhitebox 1.5s ease-in infinite ;
}
@keyframes pinkwhitebox{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}
.manish-nair{
 position: relative;
 height: 60px;
 margin-inline-start: -280px;
 bottom: 170px;
 animation: manish-nair 2.5s ease-in infinite ;
}
@keyframes manish-nair{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}
.doublequotes{
    position: relative;
    height:20px;
    margin-inline-start: -200px;
    bottom:555px ;
    animation: doublequotes 2s ease-in infinite ;
}
@keyframes doublequotes{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}
.manishtext{
    position: relative;
    bottom:559px;
    left:10px;
    width: 212px;
    color: black;
height: 256px;
/* margin-bottom: 250px; */
margin-left: 294px;
font-family: Inter;
font-size: 29px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
animation: manishtext 2s ease-in infinite ;

}
@keyframes manishtext{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}
.readmorepink{
    position: relative;
    bottom:1080px;
    left:430px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 4px 6px;
    animation: readmorepink 2s ease-in infinite ;

}
@keyframes readmorepink{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}
.readmorepink:hover{
    background-color: #FFB4B4;
    
}
.bluebox{
    position: relative;
    height:550px;
    left:500px;
    bottom:800px;
    animation: bluebox 1s ease-in infinite ;
}
@keyframes bluebox{
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(0px);
    }
}

.bluewhitebox{
    position: relative;
    height: 380px;
    bottom:1041px;
    left:170px;
    animation: bluewhitebox 1.5s ease-in infinite ;
}
@keyframes bluewhitebox{
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(0px);
    }
}
.prakash{
    position: relative;
    height: 60px;
    bottom:980px;
    right: 100px;
    animation: praksh 2.5s ease-in infinite ;
}
@keyframes praksh{
    from{
        transform: translateY(300px);
    }
    to{
        transform: translateY(0px);
    }
}
.bluequote{
    position:relative;
    height: 20px;
    bottom: 1300px;
    right:340px;
    animation: bluequotes 2s ease-in infinite ;
}
@keyframes bluequotes{
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(0px);
    }
}
.praksh-text{
    position: relative;
    bottom:1310px;
width: 212px;
height: 128px;
/* top: 68px; */
left: 694px;
/* font-family: Inter; */
font-size: 27px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
color: black;
animation: praksh-text 2s ease-in infinite ;
}
@keyframes praksh-text{
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(0px);
    }
}
.greenbox{
    position: relative;
    height: 550px;
    bottom: 1500px;
    left:1005px;
    animation: greenbox 1s ease-in infinite ;
}
@keyframes greenbox{
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0px);
    }
}
.greenwhite{
    position: relative;
    height: 380px;
    bottom: 1737px;
    left:670px;
    animation: greenwhite 1.5s ease-in infinite ;
}
@keyframes greenwhite{
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0px);
    }
}
.greenquotes{
    position: relative;
    height: 20px;
    bottom: 2020px;
    left:400px;
    animation: greenquotes 2s ease-in infinite ;
}
@keyframes greenquotes{
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0px);
    }
}
.py{
   position: relative;
   height: 60px;
   bottom: 1665px;
   left:375px;
   animation: py 2.5s ease-in infinite ;
}
@keyframes py{
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0px);
    }
}

.pytext{
    position: relative;
    width: 212px;
    height: 224px;
    bottom: 2030px;
    left: 1075px;
    /* font-family: Inter; */
font-size: 27px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
color: black;
animation: pytext 2s ease-in infinite ;

}
@keyframes pytext{
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0px);
    }
}
.form{
    position: relative;
    bottom: 1570px;
    width: 1520px;
    height: 800px;
    background: linear-gradient(180deg, rgba(124, 19, 19, 0.5) 0%, rgba(155, 105, 105, 0.5) 100%);

    
}

.question-mark{
    position: relative;
    width: 300px;
height: 300px; 
top:20px;
animation : question-mark 0.3s alternate  infinite ;
}
@keyframes question-mark{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}

.form-text{
    position: relative;
    width: 818px;
    height: 64px;
    /* font-family: Inter; */
font-size: 27.5px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
left: 320px;
bottom: 198px;


}

.Your-Name{
    position: relative;
    width: 127px;
    height: 32px;
    /* font-family: Inter; */
font-size: 24px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0em;
left:313px;
bottom: 168px;

}

.name{
    position: relative;
    width: 500px;
   height: 50px;
  left:310px;
  bottom: 153px;
  
 border: 4px solid; 
background-color: transparent;
border-image-source: linear-gradient(95.74deg, #DAB1B1 38.83%, #B22C2C 54.57%);
border-image-slice: 1;
color: white;
font-size: 24px;

}

.contact{
    position: relative;
    width: 251px;
height: 32px;
bottom: 137px;
left: 310px;
font-size: 24px;
font-weight: 600;
}

.contact-number{
    position: relative;
    width: 500px;
   height: 50px;
  left:310px;
  bottom: 123px;
  
 border: 4px solid; 
background-color: transparent;
border-image-source: linear-gradient(95.74deg, #DAB1B1 38.83%, #B22C2C 54.57%);
border-image-slice: 1;
color: white;
font-size: 24px;

}

.thoughts{
    position: relative;
    width: 251px;
height: 32px;
bottom: 100px;
left: 310px;
font-size: 24px;
font-weight: 600;
}

.your-thoughts{
    position: relative;
    width: 500px;
   height: 150px;
  left:310px;
  bottom: 450px;
  
 border: 4px solid; 
background-color: transparent;
border-image-source: linear-gradient(95.74deg, #DAB1B1 38.83%, #B22C2C 54.57%);
border-image-slice: 1;
color: white;
font-size: 20px;
padding: 0;
    margin: 0;

}

.feedback{
    position: relative;
    width: Hug (265px);
height: Hug (56px);
bottom: 298px;
padding: 10px 25px 10px 25px;
gap: 10px;
border-radius: 5px ;  
border: 8px   ;
border: 9px solid;
border-image-source: linear-gradient(94.03deg, #AE2B2B 37.09%, rgba(249, 219, 219, 0.66) 71.13%);
border-image-slice: 1;
background-color: #C91B1B33;
;
color: white;
font-size: 24px;
right: 193px;


}

.feedback:hover{
    background-color: pink;
    color: black;
}

.computer{
    position: relative;
    height:450px;
    
    bottom: 370px;
    animation: computer 1s linear infinite;
}
@keyframes computer{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.ques2{
    position: relative;
    height: 220px;
    left: 1280px;
    bottom: 490px;
    animation: ques2 0.3s alternate  infinite ;
}

@keyframes ques2{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}
.ideas{
    position: relative;
    width: 1520px;
    height: 190px;
     bottom: 1600px;
background: #601414;


}

.connect-us{
    position: relative;
    width: 760px;
height: 36px;
top:75px;
left: 199px;
/* font-family: Inter; */
font-size: 37.5px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0.05em;
text-align: left;
animation: connect-us 2s linear infinite;

}
@keyframes connect-us {
    0% {
      text-shadow: 0 0 0 #ff0011, 0 0 0 #007bff, 0 0 0 #007bff;
    }
    25% {
      text-shadow: 0 0 10px #e100ff, 0 0 20px #ff007b, 0 0 30px #e5ff00;
    }
    50% {
      text-shadow: 0 0 20px #007bff, 0 0 30px #007bff, 0 0 40px #007bff;
    }
    75% {
      text-shadow: 0 0 10px #99ff00, 0 0 20px #ff007b, 0 0 30px #00ff15;
    }
    100% {
      text-shadow: 0 0 0 #007bff, 0 0 0 #007bff, 0 0 0 #007bff;
    }
  } 
.connect-withus{
    position: relative;
    width: 250px;
    height: 56px;
    /* top: 8255px */
    top:34px;
    left: 1100px;
    padding: 10px 30px 10px 30px;
    gap: 10px;
    border-radius: 5px ;  
    /* border: 8px   ; */
    border: 8px solid;
font-size: 23px;
border-image-source: linear-gradient(94.03deg, #AE2B2B 37.09%, rgba(249, 219, 219, 0.66) 71.13%);
border-image-slice: 1;
background-color: #C91B1B33;
color: white;
display: flex;
justify-content: center;
align-items: center
;
    
}

.connect-withus:hover{
    background-color: pink;
    color: black;
}

.pen{
    position: relative;
    height: 130px;
    bottom: 172px;
    left:45px;
    animation: pen 0.5s ease-in-out infinite alternate;
}
@keyframes pen {
    0% {
      left: 0;
    }
    100% {
      left: 100px; /* Adjust the distance to move */
    }
  }
/* .logo{
    position: relative;
    height:100px;
    bottom:1500px;
    left:100px
}
.footer-text{
    position: relative;
    bottom: 1470px;
    font-size: 24px;
    left: 130px;
    font-weight: 100;
}

.company{
    position: relative;
    bottom: 1635px;
    left:640px;
    font-size: 30px;
    font-weight: 100;
}

.product{
    position: relative;
    bottom: 1930px;
    left:850px;
    font-size: 30px;
    font-weight: 100;
}

.contact{
    position: relative;
    bottom: 2408px;
    left:1050px;
    font-size: 30px;
    font-weight: 100;
}

.company-list{
    position: relative;
    bottom: 1600px;
    left:640px;
    font-size: 30px;
    font-weight: 100;
    list-style: none;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 100;
    
}

.product-list{
    position: relative;
    bottom: 1900px;
    margin-inline-start:855px;
    font-size: 30px;
    font-weight: 100;
    list-style: none;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 100;
    
} */
/* #footer-container{
    height: 400px;
} */
footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: transparent;
     padding: 100px 10%;
    bottom: 1560px; 
    
}

ul{
    list-style: none;
}

.footer-col{
    width: 25%;
    height: 23px;
}

.footer-col h4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;
}

.footer-col h4::before{
    content: '';
    position: relative;
    left: 0;
    bottom: -50px;
    
    height: 2px;
    width: 40px;
}

ul li:not(:last-child){
    margin-bottom: 8px;
}

ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}

ul li a:hover{
    color: white;
    padding-left: 2px;
}

.links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.links a:hover{
    color: #4d4f55;
    background-color: white;
}

/* .footer-logo{
    position: relative;
    height: 80px;
    bottom: 200px;
    right: 70px;
     */
